* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e8e9eb;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border-radius: 10px;
}

form input,
form textarea,
form select,
form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

form button {
  background-color: #0b9560;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #00b37a;
}
