/* =======Common global style starts======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#385182 40%, #1a8467 100%);
  min-height: 100vh;
}

/* =======Common global style ends======== */

/* ==========Header style starts========== */
.header-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.login-btn {
  background: #018862;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.login-btn:hover {
  background: #00a767;
}
.logout-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.logout-btn:hover {
  background: #c30f21;
}

.user-email {
  color: #fff;
  font-size: 14px;
  padding: 2px 5px;
  border: 1px solid gray;
  border-radius: 25px;
  margin-right: 5px;
  background-color: rgb(17, 115, 97);
}

/* ===========Header style ends=========== */

/* ===========Login form and Task form style starts=========== */
.login-form {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border-radius: 10px;
}
.login-photo {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}
.login-photo img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 5px;
}

.task-container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  border-radius: 10px;
}

.task-form {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: url('/todo.jpg');
  /* backdrop-filter: blur(6px); */
}

.task-form h2,
.login-form h2 {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

form input,
form textarea,
form select,
form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
}

form textarea {
  height: 100px;
  resize: vertical;
}

form button {
  background-color: #0b9560;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #00b37a;
}

/* ===========Login form and Task form style ends=========== */

/* ===========Task list style starts=========== */

.task-card {
  border-bottom: 1px solid gray;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.task-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task-action-area {
  display: flex;
  gap: 6px;
}

.task-title {
  color: #2b2a2a;
}

.task-description {
  color: rgb(52, 51, 51);
}

.task-status {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.task-status span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}
.task-status span svg {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 3px;
}

.task-card button {
  margin-right: 10px;
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.task-card button:hover {
  background: #c30f21;
}

.task-card button.edit {
  background: #018862;
}
.task-card button.edit:hover {
  background: #00a767;
}

.task-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 10px;
}

.not-task-found {
  text-align: center;
  padding: 15px;
}

/* ===========Task list style ends=========== */
